* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 10px
    
   
   
}

header{
    background-image: url(/img/pattern.png);
    padding-top: 112px;
    background-position: 48%;
    margin: 0px;
    background-position-y: -6px;
    background-color: #4EA0FF;

}

#logo{
    width: 10%;
    color: rgb(0, 119, 255);
}
th{
    background-color:#20A9E5;
    color: white;

}
td{
    padding: 15px;

}

tr{
    padding: 20px;
    text-align: left;
}
.yellow{
    background-color: yellow;
}

table{
    padding: 30px;
    text-align: left;
    /* margin: 20px; */
}

.ultima-colonna{
    margin-left: 30%;
    width: 40%;
}
.due-colonne{
    width: 20%;
}


.righe-azzurre{
    background-color: #B1E5F2;
}

.monitor{
    position: relative;
}
h4{
    position: absolute;
   
    color: white;

}